body {
  font-family: Arial, sans-serif;

 

}

h1 {
  text-align: center;
  font-size: 2em; /* Tamanho da fonte (ajuste conforme necessário) */
  font-weight: bold; /* Peso da fonte */
  text-align: center; /* Alinhamento do texto */
  margin-bottom: 20px;
  color: #1446A0;
  
 
  
  
}

form {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, button {
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #09814A;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  max-width: 30%;
  height: auto;
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}

#imageList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 50%;
  
  
  
}

img {
  max-width: 50%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.navbar {
  background-color: #09814A;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer {
  position: fixed; /* Fixe o footer na parte inferior da janela de visualização */
  bottom: 0; /* Posicione-o no fundo */
  width: 100%;
  background-color: #09814A;
  color: white;
  padding: 0px 0px 0px 30px;
  text-align: center;
  height: 40px;

 
}